body {
    text-align: center;
    background-color: rgb(10, 9, 10);
    font-family: "Arial Black", Gadget, sans-serif;
    /* font-family: 'Courier New Bold', Courier, monospace; */
    color: rgb(216, 245, 245);
    /* background: url('../images/backgroundneon2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.blogpost { 
    text-align: left;
    margin: 20px 40px 40px 40px;
    font-family: 'Courier New', Courier, monospace;
}

.album {
    margin: 20px 40px 40px 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.album .albumart {
    justify-content: center;
    max-width: 850px;
    min-width: 300px;
}

.album .tracks {
    flex: 0;
    flex-direction: row;
    justify-self: left;
    text-align: left;
}

img {
    display: fixed;
    margin-left: auto;
    margin-right: auto;
}

figure figcaption { 
    text-align: center;
    font-size: 12px;
}

.logo {
    display: flex;
    width: 40%;
    min-width: 400px;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(253, 190, 216);
    /* background-color: rgb(248, 203, 214); */
}


ul li {
    display: inline-block;
    width: 100%;
}


ul a {
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    /* color: whitesmoke; */
    padding: 3px 0px;
    font-size: 14px;
    text-decoration: none;
}

ul a.active {
    color: rgb(32, 30, 31);
    background-color: rgb(172, 247, 248);
    /* background-color: rgb(203, 251, 252); */
  }

ul a:hover { 
    background-color: peachpuff;
    color: rgb(32, 30, 31);
}

footer { 
    background-color: rgb(46, 38, 46);
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 10px;
    padding: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
