@font-face {
    font-family: "ZCOOL";
    src: url('../websiteContent/fonts/ZCOOL_QingKe_HuangYou/ZCOOLQingKeHuangYou-Regular.ttf') format('truetype');
}

body {
    text-align: center;
    background-color: rgb(10, 9, 10);
    font-family: "ZCOOL", 'Courier New', Courier, monospace;
    /* font-family: 'Courier New Bold', Courier, monospace; */
    color: rgb(216, 245, 245);
    /* background: url('../images/backgroundneon.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.blogpost { 
    text-align: left;
    margin: 20px 40px 40px 40px;
    font-family: 'Courier New', Courier, monospace;
}

.album {
    margin: 20px 40px 40px 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.album .albumart {
    justify-content: center;
    max-width: 850px;
    min-width: 300px;
}

.album .tracks {
    flex: 0;
    flex-direction: row;
    justify-self: left;
    text-align: left;
}

img {
    display: fixed;
    margin-left: auto;
    margin-right: auto;
}

figure figcaption { 
    text-align: center;
    font-size: 16px;
}

.logo {
    display: flex;
    width: 50%;
    min-width: 400px;
}
  
ul {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    /* background-color: rgb(248, 217, 234); */
    /* background-color: rgb(248, 203, 214); */
    display: flex;
    margin-left: 0px;
    flex-wrap: wrap; 
    justify-content: flex-start;
    /* align-items: center;
    justify-items: center; */
}


ul li {
    flex-grow: 1;
    /* background-color: aliceblue; */
}


ul a {
    width: 100%;
    justify-content: center;
    text-align: center;
    color: rgb(98, 241, 206);
    /* color: rgb(255, 255, 255); */
    /* color: whitesmoke; */
    font-size: 20px;
    text-decoration: none;
}

ul a.active {
    /* color: rgb(32, 30, 31); */
    color: rgb(220, 241, 98);
    /* background-color: rgb(172, 247, 248); */
    /* background-color: rgb(203, 251, 252); */
  }

ul a:hover { 
    /* background-color: peachpuff; */
    /* color: rgb(32, 30, 31); */
    color: rgb(241, 98, 222);

}

footer { 
    background-color: rgb(46, 38, 46);
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 10px;
    padding: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
