body {
    text-align: center;
    background-color: whitesmoke;
    font-family: "Arial Black", Gadget, sans-serif;
}

.blogpost { 
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 50px;
    margin-right: 50px;
}

img {
    display: fixed;
    margin-left: auto;
    margin-right: auto;
  }

.logo {
    width: 500px;
}
  
ul {
    margin-left:50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(255, 185, 185);
}

ul a {
    color: #f2f2f2;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    font-size: 15px;
}

ul a.active {
    color: rgb(32, 30, 31);
    background-color: rgb(252, 206, 252);
  }

ul a:hover { 
    background-color: peachpuff;
    color: rgb(32, 30, 31);
}
